.button {
    color: var(--color-main);
    background-color: transparent;
    border: solid 1px currentColor;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
        color: white;
        background-color: var(--color-main);
    }
}